* {
    font-family: "Raleway", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
    margin: 0;
}




/*----------------------- NAVBAR -----------------------*/ 




.header__nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    font-size: 18px;
    text-transform: uppercase;
    height: 20px;
    padding-right: 50px;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 3; 
}

.header__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-bottom: 35px;
}

.header__nav li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

.header__nav a {
    
    color: white;
    text-decoration: none;

    transition: color 0.3s ease, font-weight 0.3s ease;
    transition-delay: 0.1s;
}

.header__nav a:hover {
    color: rgb(218, 218, 218);

}

.nav__hr {
    width: 1px;
    height: 15px;
    margin-top: 5px;
    color: black;
    background-color: black;
    border: none;
}




/*----------------------- HEADER -----------------------*/ 




.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#img__logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}





/*----------------------- TITLE-----------------------*/ 




.header__title{
    margin: 2;
    margin-top: 150px;
    margin-left: 50px;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.header__title h1{
    font-size: 100px;
    margin: 0;
    display: block;
}

.header__title h2{

    margin: 0;
    margin-top: 10px;
}


.first{
    margin-top: 150px;
}

.header__title h1,
.header__title h2 {
    position: relative;
    animation: slide-in 2.5s ease-out forwards;
    opacity: 0;
}


@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*----------------------- MAIN -----------------------*/ 



#main__section-one{
    margin-top: -30px;
}

#main__section-one h1 {
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    color: white; 
}

.hr__section{
    width: 75%; 
    height: 1px;
    border: none; 
    border-top: 2px solid white; 
    margin: 0 auto; 
    padding-top: -100px;
}

.section-one__background {

    background-color: rgb(37, 37, 37);
    position: relative;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    color: white;
    overflow: hidden;
}






/*----------------------- SECTION-ONE -----------------------*/ 

.section-one__carddiv{
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -230px;
    
}

.hr__textContainer{
    width: 60%; 
    height: 1px;
    border: none; 
    border-top: 2px solid white; 
    margin: 0 auto; 
    margin-top: 10px;
}

.card {
    padding-top: 10px;
    width: 310px;
    height: 310px;
    background: rgb(24, 24, 24);
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(193, 193, 193, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.profileImage {
    
    background: linear-gradient(to right,rgb(255, 255, 255),rgb(32, 32, 32));
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.card__img {

    background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32));
    margin-top: 0px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
    object-fit: cover;
    display: block;
}

.textContainer {
    
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
}

.profile {
    padding-left: 15px;
    font-size: 0.84em;
    color: rgb(194, 194, 194);
    letter-spacing: 0.2px;
}

.card:hover {
    background-color: rgb(32, 32, 32);
    transition-duration: .5s;
    transform: scale(1.04);
}

/*------------------------------------------------------------*/ 







/*------------------------------------------------------------*/ 

/*.section-with-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/background/background4.jpg');
    background-size: cover;
 
    filter: blur(5px); 
    z-index: -1; 
}*/

.section-two__background {


    position: relative;
    background-image: url('/img/background/background4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}